---
layout: page
title : Members
header : Post Archive
group: navigation
---
{% include JB/setup %}

<p>現在のところShibuya.lispメンバになるには、<a href="http://groups.google.co.jp/group/Shibuyalisp">Shibuya.lispメーリングリスト</a>に参加して頂くだけです。<br />
この一覧に掲載希望の場合は、MLに<br />
【メンバーページ掲載希望】という件名で<br />
- お名前 もしくは ハンドルネーム<br />
- ウェブページ、Twitter、github〜各種ID etc<br />
を記載して投稿してください。</p>
<div>
<p><!--member--></p>
<table border="0">
<tbody>
<tr>
<td colspan="4" align="left" valign="top">発起人</td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/higepon/">Higepon</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/higepon/">d.hatena.ne.jp/higepon</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://blog.livedoor.jp/naoya_t/">naoya_t</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://blog.livedoor.jp/naoya_t/">blog.livedoor.jp/naoya_t</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://xyzzy.s53.xrea.com/wiki/">佐野 匡俊</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://xyzzy.s53.xrea.com/wiki/">xyzzy.s53.xrea.com/wiki</a></td>
</tr>
<tr>
<td></td>
</tr>
<tr>
<td colspan="4" align="left" valign="top">メンバー</td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/ajiyoshi">ajiyoshi</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/ajiyoshi">d.hatena.ne.jp/ajiyoshi</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>ari</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://at-aka.blogspot.com/">@aka</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://at-aka.blogspot.com/">at-aka.blogspot.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://www.m-oz.com/blog/">baal</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://www.m-oz.com/blog/">www.m-oz.com/blog</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/cranebird/">cranebird</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/cranebird/">d.hatena.ne.jp/cranebird</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://emeitch.com/">emeitch</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://emeitch.com/">emeitch.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>falce</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://pikapika.to/~yf/">ふじさわ</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://pikapika.to/~yf/">pikapika.to/~yf</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/fujita-y/">fujita-y</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/fujita-y/">d.hatena.ne.jp/fujita-y</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>futoase</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://cadr.g.hatena.ne.jp/g000001">g000001</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://cadr.g.hatena.ne.jp/g000001">cadr.g.hatena.ne.jp/g000001</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://garaemon.net/">garaemon</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://garaemon.net/">garaemon.net</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://cadr.g.hatena.ne.jp/haiju">haiju</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://cadr.g.hatena.ne.jp/haiju">cadr.g.hatena.ne.jp/haiju</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/harupiyo/">harupiyo</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/harupiyo/">d.hatena.ne.jp/harupiyo</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/hon53/">hon53</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/hon53/">d.hatena.ne.jp/hon53</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://www.ourlisp.com">ほっぴー</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://www.ourlisp.com">www.ourlisp.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>iizuka</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ktjx.blogspot.com/">katsu-i</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ktjx.blogspot.com/">ktjx.blogspot.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/sirocco634/">Kazu634</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/sirocco634/">d.hatena.ne.jp/sirocco634</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/kazyama/">kazyama</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/kazyama/">d.hatena.ne.jp/kazyama</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/keisukefukuda/">keisukefukuda</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/keisukefukuda/">d.hatena.ne.jp/keisukefukuda</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/kiririmode">kiririmode</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/kiririmode">d.hatena.ne.jp/kiririmode</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://oldtype.sumibi.org/show-page/kiyoka">kiyoka</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://oldtype.sumibi.org/show-page/kiyoka">oldtype.sumibi.org/show-page/kiyoka</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/koguro/">koguro</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/koguro/">d.hatena.ne.jp/koguro</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ko.meadowy.net/~koichiro/diary/">koichiro</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ko.meadowy.net/~koichiro/diary/">ko.meadowy.net/~koichiro/diary</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>kozima</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/a666666/">kyanny</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/a666666/">d.hatena.ne.jp/a666666</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://blog.kzfmix.com/">kzfm</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://blog.kzfmix.com/">blog.kzfmix.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://www.katch.ne.jp/~leque/">leque</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://www.katch.ne.jp/~leque/">www.katch.ne.jp/~leque</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/mahata/">mahata</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/mahata/">d.hatena.ne.jp/mahata</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://manamanmana.blogspot.com/">manamanmana</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://manamanmana.blogspot.com/">manamanmana.blogspot.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/masa_edw/">masa_edw</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/masa_edw/">d.hatena.ne.jp/masa_edw</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://mayah.jp/">mayah</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://mayah.jp/">mayah.jp</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/mitamex4u/">mitamex4u</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/mitamex4u/">d.hatena.ne.jp/mitamex4u</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/momo_dev/">momo_dev</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/momo_dev/">d.hatena.ne.jp/momo_dev</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>Nobuyuki Tomizawa</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://lispuser.net/">onjo</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://lispuser.net/">lispuser.net</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>pocket</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://twitter.com/puriketu99">ぷりっぷりのおしり</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://twitter.com/puriketu99">@puriketu99</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://read-eval-print.blogspot.com/">quek</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://read-eval-print.blogspot.com/">read-eval-print.blogspot.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="https://twitter.com/DevRamune">ramune</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="https://twitter.com/DevRamune">@DevRamune</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>rsnni</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/conceal-rs/">Rust/OGAWA</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/conceal-rs/">d.hatena.ne.jp/conceal-rs</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/shiroyukiJP/">s.hiroyuki</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/shiroyukiJP/">d.hatena.ne.jp/shiroyukiJP</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>Satoshi Kogawa</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://practical-scheme.net/">Shiro</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://practical-scheme.net/">practical-scheme.net</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/sinclains/">sinclains</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/sinclains/">d.hatena.ne.jp/sinclains</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://pastorale.jpn.org">ssig33</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://pastorale.jpn.org">pastorale.jpn.org</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://butagoya.tumblr.com/">tadamak</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://butagoya.tumblr.com/">butagoya.tumblr.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://coderepos.org/share/browser/lang/elisp/set-perl5lib/">taiyoh</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://coderepos.org/share/browser/lang/elisp/set-perl5lib/">coderepos.org/share/browser/lang/elisp/set-perl5lib</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a>Takashi NINJOUJI</a></td>
<td width="8"></td>
<td align="left" valign="top"><a></a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://takekazuomi.blogspot.com/">Takekazu Omi</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://takekazuomi.blogspot.com/">takekazuomi.blogspot.com</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/tazant/">tazant</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/tazant/">d.hatena.ne.jp/tazant</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://torus.jp/">とおる</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://torus.jp/">torus.jp</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/tsz/">tsz</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/tsz/">d.hatena.ne.jp/tsz</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ujihisa.nowa.jp/">ujihisa</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ujihisa.nowa.jp/">ujihisa.nowa.jp</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ukstudio.jp/">ukstudio</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://ukstudio.jp/">ukstudio.jp</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/umeaji/">umeaji</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/umeaji/">d.hatena.ne.jp/umeaji</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/wats/">wats</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/wats/">d.hatena.ne.jp/wats</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://quruli.ivory.ne.jp/diary/">y-shindoh</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://quruli.ivory.ne.jp/diary/">quruli.ivory.ne.jp/diary</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yad-EL/">yadokarielectric</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yad-EL/">d.hatena.ne.jp/yad-EL</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yamanetoshi/">yamanetoshi</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yamanetoshi/">d.hatena.ne.jp/yamanetoshi</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://fg-180.katamayu.net/">yazu</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://fg-180.katamayu.net/">fg-180.katamayu.net</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://route477.net/">yhara</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://route477.net/">route477.net</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://blogs.yahoo.co.jp/yohei0511">よっくん</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://blogs.yahoo.co.jp/yohei0511">blogs.yahoo.co.jp/yohei0511</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yshigeru/">yshigeru</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yshigeru/">d.hatena.ne.jp/yshigeru</a></td>
</tr>
<tr>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yuum3/">Yuumi3</a></td>
<td width="8"></td>
<td align="left" valign="top"><a href="http://d.hatena.ne.jp/yuum3/">d.hatena.ne.jp/yuum3</a></td>
</tr>
<tr>
<td width="8"></td>
<td colspan="3" align="left" valign="top">（アルファベット順。敬称略）</td>
</tr>
</tbody>
</table>
</div>
{% include JB/posts_collate %}
