---
layout: page
title : これまでの発表者一覧
header : Post Archive
group: navigation
---
{% include JB/setup %}

<h4>アラスカ猫</h4>
<ul>
    <li>1+1はなぜ2になるの？ ～Gaucheによる証明～</li>
</ul>

<h4>近山隆</h4>
<ul>
    <li>1980年前後の Lisp 事情と Utilisp</li>
</ul>

<h4>深町英太郎</h4>
<ul>
<li>自分をClojure化する方法</li>
</ul>

<h4>福永アレックス</h4>
<ul>
<li>CL-MPI による大規模並列プログラミング</li>
</ul>

<h4>藤田善勝</h4>
<ul>
<li>scheme on PINBALL</li>
<li>R6RS Schemeの実装、syntax-caseなどについて</li>
</ul>

<h4>g000001</h4>
<ul>
<li>Lispバトン結果報告(Common Lisp)</li>
</ul>

<h4>garaemon</h4>
<ul>
<li>3次元幾何モデルライブラリkomainu on CL</li>
</ul>

<h4>源馬照明</h4>
<ul>
<li>この木 なんの木 木になるS式 〜FUSEでS式ファイルシステム〜</li>
<li>WebブラウザをインターネットOSのシェルにしてGaucheと対話する</li>
</ul>

<h4>hayamiz</h4>
<ul>
<li>Emacs Lispのある生活</li>
</ul>

<h4>ひげぽん</h4>
<ul>
<li>Toy to practical interpreter Mosh internals</li>
<li>Lispバトン結果報告(Scheme)</li>
<li>さあ家に帰ったらSchemeのコード書いてみよう</li>
</ul>

<h4>HAYASHI Kentaro/kenhys</h4>
<ul>
<li>○○からはじめるScheme</li>
</ul>

<h4>林拓人/takuto_h</h4>
<ul>
<li>Cyanの現状と、これから</li>
</ul>

<h4>ilma</h4>
<ul>
<li>R5RS 完全準拠 JVM 日本語 Scheme インタプリタ 「Gino(仮)」</li>
</ul>

<h4>IMAKADO</h4>
<ul>
<li>Emacs上での携帯絵文字の表示と入力補完</li>
</ul>

<h4>John Fremlin</h4>
<ul>
<li>cl-irregsexp — the fastest regular expression library on the planet (in any language)</li>
<li>teepeedee2: fast IO in Lisp</li>
</ul>

<h4>ココサブ</h4>
<ul>
<li>Reading Gaucheしてみませんか</li>
</ul>

<h4>小黒直樹</h4>
<ul>
<li>Gaucheのコードをもっと速くする方法</li>
<li>Inside c-wrapper</li>
</ul>

<h4>川合史朗</h4>
<ul>
<li>(現場のScheme)と(Gaucheの進化)</li>
</ul>

<h4>衣川憲治/momo_dev</h4>
<ul>
<li>初心者がgaucheでロボット制御</li>
</ul>

<h4>黒田寿男</h4>
<ul>
<li>Lisp quote unquote</li>
</ul>

<h4>making</h4>
<ul>
<li>他言語で作ったWEBページをLispでも！</li>
<li>Clojure+Leiningenで3分Hadoop</li>
</ul>

<h4>masa.edw</h4>
<ul>
<li>はじめてのScheme</li>
</ul>

<h4>mitamex</h4>
<ul>
<li>50万行オーダーのプロジェクトを俺Lispで書く</li>
<li>失敗したら会社終わるようなプロジェクトで本当にlispを使ってみた</li>
</ul>

<h4>mokehehe</h4>
<ul>
<li>CL/Schemeの組み込み利用</li>
<li>弾幕記述言語BulletSMLのご紹介</li>
</ul>

<h4>松本智行</h4>
<ul>
<li>世界一短いコードでwebアプリ作成ができるフレームワーク開発</li>
</ul>

<h4>森田尚</h4>
<ul>
<li>『プログラミングClojure』の編集制作におけるLisp/Scheme</li>
</ul>

<h4>NANRI</h4>
<ul>
<li>HyperSpec ひとめぐり 〜 こんなことまで決まっていますよ、Common Lispでは 〜</li>
</ul>

<h4>naoya_t</h4>
<ul>
<li>Schemeではじめる音声認識</li>
</ul>

<h4>oda</h4>
<ul>
<li>マイナーRPGはLispで</li>
</ul>

<h4>okuoku</h4>
<ul>
<li>SchemeでBluetoothスタックを書く</li>
</ul>

<h4>oskimura</h4>
<ul>
<li>継続小説</li>
</ul>

<h4>たけおか</h4>
<ul>
<li>cadr ドキュメント和訳とか</li>
</ul>

<h4>竹内郁雄</h4>
<ul>
<li>Lispのココロ</li>
</ul>

<h4>和田英一</h4>
<ul>
<li>私がLispでプログラムを書く理由</li>
</ul>

<h4>yadokarielectric</h4>
<ul>
<li>あなたがSchemeを使うべき10の理由</li>
<li>世界で一番短い（かもしれない）オブジェクト指向フレームワーク「nekoduck2」</li>
</ul>

<h4>yhara</h4>
<ul>
<li>よりよいLispプログラムを目指して</li>
</ul>

<h4>吉田茂/yshigeru</h4>
<ul>
<li>世界のナベアツにGaucheで挑戦する</li>
<li>初めての人のためのClojure</li>
</ul>

<h4>吉田裕美/Yuumi3</h4>
<ul>
<li>流行るLisp用Webフレームワーク(Gauche on Railsから学んだ事)</li>
<li>Scheme on Ruby on Rails</li>
<li>ふつうのLisp入門</li>
</ul>

<h4>山下伸夫</h4>
<ul>
<li>Lisperは怠け者の夢は見ないの？</li>
</ul>

{% include JB/posts_collate %}
